@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}














/* header */
header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}



header h1 {
    width: 200px;
    height: 50px;
}

header h1 a {}

header h1 a img {
    width: 100%;
}



header div ul {
    position: absolute;
    right: 70px;
    top: 50%;
    margin-top: -25px;
    display: flex;
    align-items: center;
    height: 50px;
}

header div li {
    margin-right: 20px;
}

header div li i {
    padding: 10px 0;
    font-size: 20px;
    color: #5e5e5e;
}


header div li .search {
    display: none;
}

header div li .search {
    position: relative;
    width: 200px;
    height: 25px;
}

header div li .search input {
    width: 100%;
    border: 2px solid #a1a1a1;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    /* padding: 5px 0;
    box-sizing: border-box; */
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;
}


header li .search>i {
    position: absolute;
    font-size: 14px;
    top: -4px;
    right: 10px;
}



/* section 전체 */
section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}















/* section 1 */
section:nth-child(1) {
    position: relative;
    height: 70vh;
    overflow: hidden;
}


section:nth-child(1) article {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
    top: 0;
}

section:nth-child(1) article.on {
    left: 0;
    top: 0;
}

section:nth-child(1) article a {
    width: 100%;
    height: 100%;
    display: flex;
}

section:nth-child(1) .btn {
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: 10%;
    z-index: 10;
}

section:nth-child(1) .btn ul {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15px;
    width: 70px;
}

section:nth-child(1) .btn li {
    width: 15px;
    height: 100%;
    border-radius: 20px;
    opacity: 0.5;
    background-color: #fff;
    opacity: 0.5;
}

section:nth-child(1) .btn li.on {
    opacity: 1;
    background-color: #fff;
}



/* section 1 / article 1 */


section:nth-child(1) article:nth-child(1) {
    background-image: url(../img/sec1_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
}


section:nth-child(1) article:nth-child(1) .img {
    margin-top: 150px;
    width: 700px;
    height: 300px;
    /* background-color: #82605E; */
    box-sizing: border-box;
}

section:nth-child(1) article:nth-child(1) .img>img {
    height: 100%;
    width: auto;
}



section:nth-child(1) article:nth-child(1) .txt {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20%;
    font-size: 60px;
    line-height: 80px;
    color: #82605E;
    box-sizing: border-box;
    font-family: 'HS-Regular';
}

section:nth-child(1) article:nth-child(1) p span {
    display: block;
}

section:nth-child(1) article:nth-child(1) p em {
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #5e5e5e;
    margin-top: 10px;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: 'Nanum Gothic', sans-serif;
}






/* section 1 / article 2 */
section:nth-child(1) article:nth-child(2) {
    background-image: url(../img/sec2_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    display: flex;
}

section:nth-child(1) article:nth-child(2) .img {
    margin-top: 150px;
    width: 700px;
    height: 300px;
    /* background-color: #82605E; */
    box-sizing: border-box;
}

section:nth-child(1) article:nth-child(2) .img>img {
    height: 100%;
    width: auto;
}



section:nth-child(1) article:nth-child(2) .txt {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20%;
    font-size: 60px;
    line-height: 80px;
    color: #82605E;
    box-sizing: border-box;
    font-family: 'HS-Regular';
}

section:nth-child(1) article:nth-child(2) p span {
    display: block;
}

section:nth-child(1) article:nth-child(2) p em {
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #5e5e5e;
    margin-top: 10px;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: 'Nanum Gothic', sans-serif;
}





/* section 1 / article 3 */
section:nth-child(1) article:nth-child(3) {
    background-image: url(../img/sec3_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    display: flex;
}

section:nth-child(1) article:nth-child(3) .img {
    margin-top: 150px;
    width: 700px;
    height: 300px;
    /* background-color: #82605E; */
    box-sizing: border-box;
}

section:nth-child(1) article:nth-child(3) .img>img {
    height: 100%;
    width: auto;
}



section:nth-child(1) article:nth-child(3) .txt {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20%;
    font-size: 60px;
    line-height: 80px;
    color: #82605E;
    box-sizing: border-box;
    font-family: 'HS-Regular';
}

section:nth-child(1) article:nth-child(3) p span {
    display: block;
}

section:nth-child(1) article:nth-child(3) p em {
    display: block;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: #5e5e5e;
    margin-top: 10px;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: 'Nanum Gothic', sans-serif;
}












/* section 2 */

section:nth-child(2) {
    height: 150px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: #fff;
}

section:nth-child(2) .gnb {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 55px;
}

section:nth-child(2) .gnb li {
    width: 200px;
}

section:nth-child(2) .gnb li a {
    display: block;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    color: #494850;
}


section:nth-child(2) .gnb li a:hover p {
    color: #217DC9;
}

section:nth-child(2) .gnb li a i {
    display: block;
    margin-bottom: 20px;
    font-size: 30px;
}














/* section 3 */
section:nth-child(3) {
    height: 400px;
}

section:nth-child(3) article:nth-child(1) {
    background-image: url(../img/pana_txt.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center center;
}

section:nth-child(3) p {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 70px;
    color: #fff;
    line-height: 100px;
    letter-spacing: 7px;
    font-weight: bold;
}









/* section 4 */


section:nth-child(4) {
    position: relative;
    background-color: #EFEFEF;
    width: 100%;
}


section:nth-child(4) h3 {
    text-align: center;
    padding-top: 50px;
    color: #475b93;
    font-size: 70px;
    letter-spacing: 5px;
}


section:nth-child(4) h3>span {
    display: block;
    font-weight: normal;
    font-size: 16px;
    color: #1a1a1a;
    margin-top: 10px;
    letter-spacing: 0;
}






section:nth-child(4) .list {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.8s;
    display: flex;
    position: relative;
}

section:nth-child(4) .list .line {
    width: 2px;
    height: 380px;
    background-color: #bbb;
    position: absolute;

    left: 20.7%;
    top: 15%;
}



section:nth-child(4) .list.onn {
    opacity: 1;
}



section:nth-child(4) .list .num {
    /* background-color: #82605E; */
    width: 30%;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 20%;
    padding-top: 6%;
    position: relative;
    z-index: 10;
}





section:nth-child(4) .list .num li {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #999;
    margin-bottom: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

section:nth-child(4) .list .num li p {
    opacity: 0;
    font-size: 10px;
    color: #fff;
    transition: all 0.8s;
}

section:nth-child(4) .list .num li:hover {
    transform: scale(1.5);
}

section:nth-child(4) .list .num li:hover p {
    opacity: 1;
}


section:nth-child(4) .list .num li.on {
    transform: scale(1.5);
}

section:nth-child(4) .list .num li.on p {
    opacity: 1;
}



section:nth-child(4) .list .imgBox {
    /* background-color: #EC2E5C; */
    width: 70%;
    position: relative;
    padding-top: 100px;
    padding-left: 40px;
    box-sizing: border-box;
}

section:nth-child(4) .list .imgBox li {
    width: 100%;
    position: absolute;
    opacity: 0;
    display: flex;
    align-items: flex-end;
    /* background-color: #217DC9; */
}

section:nth-child(4) .list .imgBox .img {
    width: 50%;
    height: 95%;
    /* background-color: #494850; */
}

section:nth-child(4) .list .imgBox .img img {
    width: 100%;
}

section:nth-child(4) .list .imgBox li.on {
    opacity: 1;
}

section:nth-child(4) .list .imgBox .txt {
    width: 40%;
    position: relative;
    position: absolute;
    left: 100%;
    bottom: 80px;
    /* background-color: #2b507a; */
}
section:nth-child(4) .list .imgBox .txt.on {left: 45%;}






section:nth-child(4) .list .imgBox .txt p:nth-child(1) {
    color: #8A8A8A;
    font-size: 90px;
    font-weight: bold;
    margin-left: -13px;
}

section:nth-child(4) .list .imgBox .txt p:nth-child(2) {
    color: #1a1a1a;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;

}

section:nth-child(4) .list .imgBox .txt p:nth-child(3) {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;

}










/* section 5 */

section h3 {
    color: #475b93;
    font-size: 55px;
    letter-spacing: 5px;
}

section:nth-child(5) {
    background-color: #fff;
    display: flex;
    width: 90%;
    height: 60vh;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

section:nth-child(5) .txt {
    height: 150px;
    width: auto;
    margin-top: -70px;
    /* background-color: lightblue; */
}

section:nth-child(5) .txt button {
    background-color: #efefef;
    border: none;
    padding: 10px 50px;
    margin-top: 20px;
    cursor: pointer;
}




section:nth-child(5) .list {
    /* background-color: #999; */
    width: 1000px;
    height: 100%;
}

section:nth-child(5) .list ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rebeccapurple; */
}

section:nth-child(5) .list li {
    /* background-color: antiquewhite; */
    width: 25%;
    height: 300px;
    padding-top: 30px;
}

section:nth-child(5) .list li:hover {
    background-color: #efefef;
}

section:nth-child(5) .list li>img {
    width: 100%;
    height: auto;
}

section:nth-child(5) .list li>p {
    text-align: center;
    margin-top: 10px;
}

section:nth-child(5) .list li>p em {
    display: block;
    font-style: normal;
}

section:nth-child(5) .list li .til {
    font-size: 20px;
    font-weight: bold;
}











/* section 6 */

section:nth-child(6) {
    background-color: #fff;
    padding-top: 50px;
    height: 150vh;
}

section:nth-child(6) h3 {
    text-align: center;
    padding: 50px 0;
}

section:nth-child(6) article {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    /* background-color: #82605E; */
}




section:nth-child(6) article .con {
    /* background-color: lightsalmon; */
    width: 45%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 100px;
    overflow: hidden;
}

section:nth-child(6) article .con ul {
    width: 100%;
    height: 50%;
    
}

section:nth-child(6) article .con>ul li {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 100%;
}

section:nth-child(6) article .con>ul li.on {
    top: 0;
    left: 0;
}

section:nth-child(6) article .con li img {
    width: 100%;
    height: auto;
}

section:nth-child(6) article .con_img li:nth-child(1) {
    transform: translateY(0);
}





section:nth-child(6) article .con .btn {
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: 10%;
    z-index: 10;
    /* background-color: #494850; */
}


section:nth-child(6) article .con .btn ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15px;
    width: 70px;
}

section:nth-child(6) article .con .btn ul li {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: #fff;
    opacity: 0.5;
}


/* section:nth-child(6) article .con .btn li:hover {opacity: 1;} */
section:nth-child(6) article .con .btn ul li.on {
    opacity: 1;
    background-color: #fff;
}





section:nth-child(6) article .rev {
    width: 45%;
    height: 100%;
    /* background-color: #217DC9; */
    padding-left: 20px;
}

section:nth-child(6) article .rev ul {
    width: 100%;
}




section:nth-child(6) article .rev ul:after {
    display: block;
    content: '';
    clear: both;
}

section:nth-child(6) article .rev li {
    width: 45%;
    /* background-color: lemonchiffon; */
    margin-bottom: 80px;
    margin-left: 25px;
    float: left;

}

section:nth-child(6) article .rev li img {
    width: 100%;
    height: auto;
}

section:nth-child(6) article .rev li p {
    margin-top: 10px;
    font-weight: bold;
}

section:nth-child(6) article .rev li p em {
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    display: block;
    margin-top: 5px;
}















/* section 7 */

section:nth-child(7) {
    position: relative;
    background-image: url(../img/header_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    height: 50vh;
    margin-top: 50px;
    overflow: hidden;
    display: flex;
}

section:nth-child(7) .txt {
    position: relative;
    width: 40%;
    padding-top: 100px;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

section:nth-child(7) .txt p {
    width: 100%;
}

section:nth-child(7) .txt em {
    display: block;
    font-style: normal;
}

section:nth-child(7) .txt span {
    display: block;
    margin: 10px 0;
}

section:nth-child(7) .txt b {
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 80px;
    font-family: 'Orbitron', sans-serif;
    color: #EC2E5C;
}

section:nth-child(7) .txt button {
    background-color: rgba(236, 46, 92, 0.5);
    border: none;
    padding: 10px 50px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
}



section:nth-child(7) .img {
    width: 60%;
    height: 100%;
    position: relative;
}

section:nth-child(7) .img img {
    position: absolute;
}

section:nth-child(7) .img>img:nth-child(1) {
    left: 0;
    top: 0;
    width: 60%;
    height: auto;
}

section:nth-child(7) .img>img:nth-child(2) {
    left: 600px;
    bottom: 0;
}

section:nth-child(7) .img>img:nth-child(3) {
    left: 300px;
    top: 25%;
    z-index: 2.5;
    transform: scale(1.5);
}









/* footer */
footer {
    width: 100%;
    height: 300px;
    background-color: #2b507a;
}

footer .ft {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: -30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}




footer .ft div:nth-child(1) {
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: #494850; */
}

footer .ft div:nth-child(1) img {
    width: 150px;
    height: auto;
}






footer .ft div:nth-child(2) {
    width: 65%;
    /* background-color: #82605E; */
}

footer .ft div:nth-child(2) ul {
    display: flex;
}

footer .ft div:nth-child(2) li {
    padding-right: 30px;
}

footer .ft div:nth-child(2) li a {
    color: #fff;
    font-size: 14px;
    color: #fff;
}

footer .ft div:nth-child(2) p {
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    margin-top: 30px;
}

footer .ft div:nth-child(2) p:nth-child(2) {
    margin-top: 10px;
}








footer .ft div:nth-child(3) {
    width: 20%;
    /* background-color: #EFEFEF; */
    margin-top: -60px;
}

footer .ft div:nth-child(3) p {
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    letter-spacing: 2px;
}

footer .ft div:nth-child(3) ul {
    display: flex;
}

footer .ft div:nth-child(3) li {
    margin-right: 20px;
    margin-top: 30px;
}

footer .ft div:nth-child(3) li i {
    font-size: 25px;
    color: #fff;
}









/* 미디어쿼리 구간 설정 //////////////////////////////////// */


/* 1. 479px 이하 구간 /////////////////////////////// */

@media  (max-width:479px) {}





/* 2. 480 ~ 639px 이하 구간 /////////////////////////////// */

@media (min-width:480px) and (max-width:639px) {}





/* 3. 640 ~ 779px 이하 구간 /////////////////////////////// */

@media (min-width:640px) and (max-width:779px) {}





/* 4. 780 ~ 1023px 이하 구간/////////////////////// */

@media (min-width:780px) and (max-width:1023px) {
    /* section {height: 100vh;
        width: 100%;} */

    section:nth-child(1) {height: 50vh;}
    section:nth-child(1)>article {height: 60%;}
    section:nth-child(1) article:nth-child(1) .txt {
        padding-left: 5%;
    }

    section:nth-child(1) article:nth-child(2) .txt {
        padding-left: 5%;
    }

    section:nth-child(1) article:nth-child(3) .txt {
        padding-left: 5%;
    }



    section:nth-child(1) article:nth-child(1) .txt {
        font-size: 40px;
        line-height: 50px;
        color: #82605E;
        box-sizing: border-box;
        font-family: 'HS-Regular';
    }
    
    section:nth-child(1) article:nth-child(1) p span {
        display: block;
    }
    
    section:nth-child(1) article:nth-child(1) p em {
        display: block;
    }

    section:nth-child(1) article:nth-child(1) .img {
        margin-top: 100px;
        width: 500px;
        height: 250px;
        /* background-color: #82605E; */
        box-sizing: border-box;
    }


    section:nth-child(1) article:nth-child(2) .txt {
        font-size: 40px;
        line-height: 50px;
        color: #82605E;
        box-sizing: border-box;
        font-family: 'HS-Regular';
    }
    
    section:nth-child(1) article:nth-child(2) p span {
        display: block;
    }
    
    section:nth-child(1) article:nth-child(2) p em {
        display: block;
    }

    section:nth-child(1) article:nth-child(2) .img {
        margin-top: 100px;
        width: 500px;
        height: 250px;
        /* background-color: #82605E; */
        box-sizing: border-box;
    }
    


    section:nth-child(1) article:nth-child(3) .txt {
        font-size: 40px;
        line-height: 50px;
        color: #82605E;
        box-sizing: border-box;
        font-family: 'HS-Regular';
    }
    
    section:nth-child(1) article:nth-child(3) p span {
        display: block;
    }
    
    section:nth-child(1) article:nth-child(3) p em {
        display: block;
    }

    section:nth-child(1) article:nth-child(3) .img {
        margin-top: 100px;
        width: 500px;
        height: 250px;
        /* background-color: #82605E; */
        box-sizing: border-box;
    }




    
    section:nth-child(3) article:nth-child(1) {
        background-position: left center;
    }

    section:nth-child(4) {height: 80vh;}
    section:nth-child(4) .list {
        width: 100%;
        height: 80%;
        opacity: 0;
        transition: all 0.8s;
        /* display: flex; */
        position: relative;
        margin-top: 20px;
    }
    
    section:nth-child(4) .list .line {
        width: 380px;
        height: 2px;
        background-color: #bbb;
        position: absolute;
        left: 50%;
        margin-left: -190px;
        top: 62%;
    }
    
    
    
    section:nth-child(4) .list.onn {
        opacity: 1;
    }
    
    
    


    section:nth-child(4) .list .num {
        /* background-color: #82605E; */
        width: 380px;
        height: 30px;
        cursor: pointer;
        box-sizing: border-box;
        padding-left: 0;
        padding-top: 0;
        position: absolute;
        left: 50%;
        margin-left: -190px;
        top: 60%;
        z-index: 10;
        display: flex;
        justify-content: space-between;
    }
    
    
    section:nth-child(4) .list .num li {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background-color: #999;
        /* margin-right: 65px; */
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
    }
    
    section:nth-child(4) .list .num li p {
        opacity: 0;
        font-size: 10px;
        color: #fff;
        transition: all 0.8s;
    }
    
    section:nth-child(4) .list .num li:hover {
        transform: scale(1.5);
    }
    
    section:nth-child(4) .list .num li:hover p {
        opacity: 1;
    }
    
    
    section:nth-child(4) .list .num li.on {
        transform: scale(1.5);
    }
    
    section:nth-child(4) .list .num li.on p {
        opacity: 1;
    }
    
    
    
    section:nth-child(4) .list .imgBox {
        /* background-color: #EC2E5C; */
        width: 100%;
        position: relative;
        padding-top: 10px;
        padding-left: 100px;
        box-sizing: border-box;
    }
    
    section:nth-child(4) .list .imgBox li {
        width: 100%;
        position: absolute;
        opacity: 0;
        display: flex;
        align-items: flex-end;
        /* background-color: #217DC9; */
    }
    
    section:nth-child(4) .list .imgBox .img {
        width: 45%;
        height: 95%;
        /* background-color: #494850; */
    }
    
    section:nth-child(4) .list .imgBox .img img {
        width: 100%;
    }
    
    section:nth-child(4) .list .imgBox li.on {
        opacity: 1;
    }
    
    section:nth-child(4) .list .imgBox .txt {
        width: 25%;
        position: absolute;
        left: 100%;
        bottom: 20px;
        /* background-color: #2b507a; */
    }
    
    section:nth-child(4) .list .imgBox .txt.on {left: 40%;}



    section:nth-child(5) .txt h3 {
        font-size: 35px;
        letter-spacing: -1px;
    }
    section:nth-child(5) .list p {font-size: 14px;
        letter-spacing: -2px;}
    
    
    section:nth-child(5) .txt {
        height: 150px;
        width: 300px;
        margin-top: -70px;
        /* background-color: lightblue; */
    }



    section:nth-child(6) {
        background-color: #fff;
        padding-top: 0px;
        height: 130vh;
    }
    
    section:nth-child(6) article {
        width: 90%;
        height: 100%;
        display: block;
        /* align-items: flex-start;
        justify-content: flex-end; */
        margin: 0 auto;
        /* box-sizing: border-box; */
        position: relative;
        /* background-color: #82605E; */
    }
    
    
    
    
    section:nth-child(6) article .con {
        background-color: lightsalmon;
        width: 100%;
        height: 600px;
        position: relative;
        display: block;
        top: 0;
        left: 0px;
        overflow: hidden;
    }
    
    section:nth-child(6) article .con ul {
        width: 100%;
        height: 100%;
        ;
    }
    
    section:nth-child(6) article .con>ul li {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%;
    }
    
    section:nth-child(6) article .con>ul li.on {
        top: 0;
        left: 0;
    }
    
    section:nth-child(6) article .con li img {
        width: 100%;
    }
    
    section:nth-child(6) article .con_img li:nth-child(1) {
        transform: translateY(-100px);
    }
    
    
    
    
    
    section:nth-child(6) article .con .btn {
        bottom: 10%;
    }

    
    
    
    
    
    section:nth-child(6) article .rev {
        width: 100%;
        height: 500px;
        /* background-color: #217DC9; */
        margin: 0 auto;
        box-sizing: border-box;
        margin-top: 80px;
    }
    
    section:nth-child(6) article .rev ul {
        width: 100%;
        
        display: flex;
        justify-content: space-around;
    }
    
    

    section:nth-child(6) article .rev li {
        width: 23%;
        /* background-color: lemonchiffon; */
        margin-bottom: 80px;
        margin-left: 0px;
    
    }
    

    section:nth-child(7) {
        position: relative;
        background-image: url(../img/header_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right center;
        height: 50vh;
        margin-top: 50px;
        overflow: hidden;
        display: block;
    }
    
    section:nth-child(7) .txt {
        position: relative;
        width: 20%;
        padding-top: 100px;
        box-sizing: border-box;
        font-family: 'Nanum Gothic', sans-serif;
    }
    
    
    section:nth-child(7) .img {
        width: 65%;
        height: 100%;
        position: absolute;
    }
    
    section:nth-child(7) .img img {
        position: absolute;
    }
    
    section:nth-child(7) .img>img:nth-child(1) {
        left: 0;
        top: 0;
        width: 60%;
        height: auto;
    }
    
    section:nth-child(7) .img>img:nth-child(2) {
        left: 600px;
        bottom: 0;
    }
    
    section:nth-child(7) .img>img:nth-child(3) {
        left: 35%;
        top: 45%;
        z-index: 2.5;
        transform: scale(1);
    }
    section:nth-child(7) .txt {width: 100%;
        padding-top: 30px}
    section:nth-child(7) .txt p {text-align: center;}
    section:nth-child(7) .txt em {
        display: block;
        font-style: normal;
        
    }
    
    section:nth-child(7) .txt span {
        display: block;
        margin: 10px 0;
    }
    
    section:nth-child(7) .txt b {
        font-weight: bolder;
        letter-spacing: 2px;
        font-size: 70px;
        font-family: 'Orbitron', sans-serif;
        color: #EC2E5C;
    }
    
    section:nth-child(7) .txt button {
        display: none;
    }
    
    
    /* footer */
    footer {
        width: 100%;
        height: 300px;
        background-color: #2b507a;
    }
    
    footer .ft {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        margin-top: -30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    
    
    
    footer .ft div:nth-child(1) {
        width: 10%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* background-color: #494850; */
    }
    
    footer .ft div:nth-child(1) img {
        width: 80px;
        height: auto;
    }
    
    
    
    
    
    
    footer .ft div:nth-child(2) {
        width: 70%;
        /* background-color: #82605E; */
        box-sizing: border-box;
        padding-left: 5px;
    }
    

    footer .ft div:nth-child(2) li a {
        color: #fff;
        font-size: 10px;
        color: #fff;
        letter-spacing: -1px;
    }
    
    footer .ft div:nth-child(2) p {
        line-height: 25px;
        font-size: 14px;
        color: #fff;
        margin-top: 30px;
    }
    

    
    
    footer .ft div:nth-child(3) {
        width: 15%;
        /* background-color: #EFEFEF; */
        margin-top: -60px;
    }
    
    footer .ft div:nth-child(3) p {
        font-weight: bold;
        font-size: 18px;
        color: #fff;
        letter-spacing: 2px;
    }

}




/* 5. 1024 ~ 1279px 이하 구간 ////////////////////*/

@media (min-width:1024px) and (max-width:1279px) {

    section {height: 100vh;
        width: 100%;}

    section:nth-child(1) article:nth-child(1) .txt {
        padding-left: 10%;
    }

    section:nth-child(1) article:nth-child(2) .txt {
        padding-left: 10%;
    }

    section:nth-child(1) article:nth-child(3) .txt {
        padding-left: 10%;
    }

    section:nth-child(3) article:nth-child(1) {
        background-position: left center;
    }



    
    section:nth-child(4) {height: 80vh;}
    section:nth-child(4) .list {
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.8s;
        /* display: flex; */
        position: relative;
        margin-top: 20px;
    }
    
    section:nth-child(4) .list .line {
        width: 380px;
        height: 2px;
        background-color: #bbb;
        position: absolute;
        left: 50%;
        margin-left: -190px;
        top: 62%;
    }
    
    
    
    section:nth-child(4) .list.onn {
        opacity: 1;
    }
    
    
    


    section:nth-child(4) .list .num {
        /* background-color: #82605E; */
        width: 380px;
        height: 30px;
        cursor: pointer;
        box-sizing: border-box;
        padding-left: 0;
        padding-top: 0;
        position: absolute;
        left: 50%;
        margin-left: -190px;
        top: 60%;
        z-index: 10;
        display: flex;
        justify-content: space-between;
    }
    
    
    section:nth-child(4) .list .num li {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background-color: #999;
        /* margin-right: 65px; */
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
    }
    
    section:nth-child(4) .list .num li p {
        opacity: 0;
        font-size: 10px;
        color: #fff;
        transition: all 0.8s;
    }
    
    section:nth-child(4) .list .num li:hover {
        transform: scale(1.5);
    }
    
    section:nth-child(4) .list .num li:hover p {
        opacity: 1;
    }
    
    
    section:nth-child(4) .list .num li.on {
        transform: scale(1.5);
    }
    
    section:nth-child(4) .list .num li.on p {
        opacity: 1;
    }
    
    
    
    section:nth-child(4) .list .imgBox {
        /* background-color: #EC2E5C; */
        width: 100%;
        position: relative;
        padding-top: 10px;
        padding-left: 100px;
        box-sizing: border-box;
    }
    
    section:nth-child(4) .list .imgBox li {
        width: 100%;
        position: absolute;
        opacity: 0;
        display: flex;
        align-items: flex-end;
        /* background-color: #217DC9; */
    }
    
    section:nth-child(4) .list .imgBox .img {
        width: 45%;
        height: 95%;
        /* background-color: #494850; */
    }
    
    section:nth-child(4) .list .imgBox .img img {
        width: 100%;
    }
    
    section:nth-child(4) .list .imgBox li.on {
        opacity: 1;
    }
    
    section:nth-child(4) .list .imgBox .txt {
        width: 40%;
        position: absolute;
        left: 100%;
        bottom: 30px;
        /* background-color: #2b507a; */
    }
    
    section:nth-child(4) .list .imgBox .txt.on {left: 40%;}



    section h3 {
        font-size: 40px;
        letter-spacing: -1px;
    }
    
    
    
    section:nth-child(5) .txt {
        height: 150px;
        width: 300px;
        margin-top: -70px;
        /* background-color: lightblue; */
    }



    section:nth-child(6) {
        background-color: #fff;
        padding-top: 0px;
        height: 100%;
    }
    
    section:nth-child(6) article {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        margin: 0 auto;
        box-sizing: border-box;
        position: relative;
        /* background-color: #82605E; */
    }
    
    
    
    
    section:nth-child(6) article .con {
        /* background-color: lightsalmon; */
        width: 50%;
        height: 600px;
        position: absolute;
        top: 0;
        left: 50px;
        overflow: hidden;
    }
    
    section:nth-child(6) article .con ul {
        width: 100%;
        height: 600px;
        ;
    }
    
    section:nth-child(6) article .con>ul li {
        width: 100%;
        height: 600px;
        position: absolute;
        top: 0;
        left: 100%;
    }
    
    section:nth-child(6) article .con>ul li.on {
        top: 0;
        left: 0;
    }
    
    section:nth-child(6) article .con li img {
        height: 100%;
    }
    
    section:nth-child(6) article .con_img li:nth-child(1) {
        transform: translateY(0px);
    }
    
    section:nth-child(6) article .con_img li:nth-child(1) {
        transform: translateY(0px);
    }
    
    
    
    section:nth-child(6) article .con .btn {
        bottom: 10%;
    }

  
    
    
    
    
    section:nth-child(6) article .rev {
        width: 45%;
        /* height: 100%; */
        /* background-color: #217DC9; */
        padding-left: 0px;
        box-sizing: border-box;
    }
    
    section:nth-child(6) article .rev ul {
        width: 100%;
    }
    
    

    section:nth-child(6) article .rev li {
        width: 40%;
        /* background-color: lemonchiffon; */
        margin-bottom: 80px;
        margin-left: 25px;
        float: left;
    
    }
    

    section:nth-child(7) {
        position: relative;
        background-image: url(../img/header_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right center;
        height: 50vh;
        margin-top: 50px;
        overflow: hidden;
        display: flex;
    }
    
    section:nth-child(7) .txt {
        position: relative;
        width: 20%;
        padding-top: 100px;
        box-sizing: border-box;
        font-family: 'Nanum Gothic', sans-serif;
    }
    
    
    section:nth-child(7) .img {
        width: 65%;
        height: 100%;
        position: relative;
    }
    
    section:nth-child(7) .img img {
        position: absolute;
    }
    
    section:nth-child(7) .img>img:nth-child(1) {
        left: 0;
        top: 0;
        width: 60%;
        height: auto;
    }
    
    section:nth-child(7) .img>img:nth-child(2) {
        left: 600px;
        bottom: 0;
    }
    
    section:nth-child(7) .img>img:nth-child(3) {
        left: 100px;
        top: 30%;
        z-index: 2.5;
        transform: scale(1.2);
    }
    
    
    
    
    /* footer */
    footer {
        width: 100%;
        height: 300px;
        background-color: #2b507a;
    }
    
    footer .ft {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        margin-top: -30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    
    
    
    footer .ft div:nth-child(1) {
        width: 15%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* background-color: #494850; */
    }
    
    footer .ft div:nth-child(1) img {
        width: 110px;
        height: auto;
    }
    
    
    
    
    
    
    footer .ft div:nth-child(2) {
        width: 70%;
        /* background-color: #82605E; */
    }
    

    footer .ft div:nth-child(2) li a {
        color: #fff;
        font-size: 12px;
        color: #fff;
    }
    
    footer .ft div:nth-child(2) p {
        line-height: 25px;
        font-size: 14px;
        color: #fff;
        margin-top: 30px;
    }
    

    
    
    footer .ft div:nth-child(3) {
        width: 15%;
        /* background-color: #EFEFEF; */
        margin-top: -60px;
    }
    
    footer .ft div:nth-child(3) p {
        font-weight: bold;
        font-size: 18px;
        color: #fff;
        letter-spacing: 2px;
    }
    

    
}








/* 6. 1280 ~  구간 /////////////////// */

@media (min-width: 1280px) and (max-width: 1919px) {

    
    /* section:nth-child(4) .list {display: flex;} */
    
    section:nth-child(4) .list .line {
        width: 2px;
        height: 380px;
        background-color: #bbb;
        position: absolute;
        left: 20%;
        top: 10%;
    }
    
    
    
    section:nth-child(4) .list.onn {
        opacity: 1;
    }
    
    section:nth-child(4) .list .num {
        /* background-color: #82605E; */
        width: 30%;
        cursor: pointer;
        /* box-sizing: border-box; */
        padding-left: 19%;
        padding-top: 7%;
        position: relative;
        z-index: 10;
    }
    
    
    
    
    
    
    section:nth-child(4) .list .num li {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background-color: #999;
        margin-bottom: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
    }
    
    section:nth-child(4) .list .num li p {
        opacity: 0;
        font-size: 10px;
        color: #fff;
        transition: all 0.8s;
    }
    
    section:nth-child(4) .list .num li:hover {
        transform: scale(1.5);
    }
    
    section:nth-child(4) .list .num li:hover p {
        opacity: 1;
    }
    
    
    section:nth-child(4) .list .num li.on {
        transform: scale(1.5);
    }
    
    section:nth-child(4) .list .num li.on p {
        opacity: 1;
    }
    
    
    
    section:nth-child(4) .list .imgBox {
        /* background-color: #EC2E5C; */
        width: 80%;
        position: relative;
        padding-top: 100px;
        padding-left: 10px;
        box-sizing: border-box;
    }
    
    section:nth-child(4) .list .imgBox li {
        width: 100%;
        position: absolute;
        opacity: 0;
        display: flex;
        align-items: flex-end;
        /* background-color: #217DC9; */
    }
    
    section:nth-child(4) .list .imgBox .img {
        width: 50%;
        height: 95%;
        /* background-color: #494850; */
    }
    
    section:nth-child(4) .list .imgBox .img img {
        width: 100%;
    }
    
    section:nth-child(4) .list .imgBox li.on {
        opacity: 1;
    }
    
    section:nth-child(4) .list .imgBox .txt {
        width: 40%;
        position: relative;
        position: absolute;
        left: 100%;
        bottom: 80px;
        /* background-color: #2b507a; */
    }
    section:nth-child(4) .list .imgBox .txt.on {left: 45%;}
    
    
    
    
    section:nth-child(4) .list .imgBox .txt p:nth-child(1) {
        color: #8A8A8A;
        font-size: 90px;
        font-weight: bold;
        margin-left: -13px;
    }
    
    section:nth-child(4) .list .imgBox .txt p:nth-child(2) {
        color: #1a1a1a;
        font-size: 30px;
        font-weight: bold;
        margin-top: 30px;
    
    }
    
    section:nth-child(4) .list .imgBox .txt p:nth-child(3) {
        color: #1a1a1a;
        font-size: 14px;
        font-weight: normal;
        margin-top: 10px;
    
    }
    


    section h3 {
        font-size: 40px;
        letter-spacing: -1px;
    }
    
    
    
    section:nth-child(5) .txt {
        height: 150px;
        width: 300px;
        margin-top: -70px;
        /* background-color: lightblue; */
    }



    section:nth-child(6) {
        background-color: #fff;
        padding-top: 0px;
        height: 120vh;
    }
    
    section:nth-child(6) article {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        margin: 0 auto;
        box-sizing: border-box;
        position: relative;
        /* background-color: #82605E; */
    }
    
    
    
    
    section:nth-child(6) article .con {
        /* background-color: lightsalmon; */
        width: 50%;
        height: 600px;
        position: absolute;
        top: 0;
        left: 50px;
        overflow: hidden;
    }
    
    section:nth-child(6) article .con ul {
        width: 100%;
        height: 600px;
        ;
    }
    
    section:nth-child(6) article .con>ul li {
        width: 100%;
        height: 600px;
        position: absolute;
        top: 0;
        left: 100%;
    }
    
    section:nth-child(6) article .con>ul li.on {
        top: 0;
        left: 0;
    }
    
    section:nth-child(6) article .con li img {
        height: 100%;
    }
    
    section:nth-child(6) article .con_img li:nth-child(1) {
        transform: translateY(0px);
    }
    
    
    
    
    
    section:nth-child(6) article .con .btn {
        bottom: 10%;
    }

    
    
    
    
    
    section:nth-child(6) article .rev {
        width: 45%;
        height: 100%;
        /* background-color: #217DC9; */
        padding-left: 0px;
        box-sizing: border-box;
    }
    
    section:nth-child(6) article .rev ul {
        width: 100%;
    }
    
    

    section:nth-child(6) article .rev li {
        width: 40%;
        /* background-color: lemonchiffon; */
        margin-bottom: 80px;
        margin-left: 25px;
        float: left;
    
    }
    

    section:nth-child(7) {
        position: relative;
        background-image: url(../img/header_bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right center;
        height: 50vh;
        margin-top: 50px;
        overflow: hidden;
        display: flex;
    }
    
    section:nth-child(7) .txt {
        position: relative;
        width: 20%;
        padding-top: 100px;
        box-sizing: border-box;
        font-family: 'Nanum Gothic', sans-serif;
    }
    
    
    section:nth-child(7) .img {
        width: 65%;
        height: 100%;
        position: relative;
    }
    
    section:nth-child(7) .img img {
        position: absolute;
    }
    
    section:nth-child(7) .img>img:nth-child(1) {
        left: 0;
        top: 0;
        width: 60%;
        height: auto;
    }
    
    section:nth-child(7) .img>img:nth-child(2) {
        left: 600px;
        bottom: 0;
    }
    
    section:nth-child(7) .img>img:nth-child(3) {
        left: 100px;
        top: 30%;
        z-index: 2.5;
        transform: scale(1.2);
    }
    
    
    
    
    /* footer */
    footer {
        width: 100%;
        height: 300px;
        background-color: #2b507a;
    }
    
    footer .ft {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        margin-top: -30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    
    
    
    footer .ft div:nth-child(1) {
        width: 15%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* background-color: #494850; */
    }
    
    footer .ft div:nth-child(1) img {
        width: 110px;
        height: auto;
    }
    
    
    
    
    
    
    footer .ft div:nth-child(2) {
        width: 70%;
        /* background-color: #82605E; */
    }
    

    footer .ft div:nth-child(2) li a {
        color: #fff;
        font-size: 12px;
        color: #fff;
    }
    
    footer .ft div:nth-child(2) p {
        line-height: 25px;
        font-size: 14px;
        color: #fff;
        margin-top: 30px;
    }
    

    
    
    footer .ft div:nth-child(3) {
        width: 15%;
        /* background-color: #EFEFEF; */
        margin-top: -60px;
    }
    
    footer .ft div:nth-child(3) p {
        font-weight: bold;
        font-size: 18px;
        color: #fff;
        letter-spacing: 2px;
    }
    
}



/* 6. 1920 ~  구간 /////////////////// */

@media (min-width: 1920px) {
    body {width: 1920px;
        margin: 0 auto;}
}













